body{
  background-color: grey;
}

.note{
  width: 100px;
  height: 100px;
  background-color: white;
  display: inline-block;
  list-style:none;
}

#container{
 max-height:100px;
 white-space:nowrap;
 overflow-y: hidden;
}

#scrollbox{
  width: 500px;
  height: 100px;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
}

#scrollbox::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
