<h1>
  {{title}}
</h1>
<button (click)="addNotes()">Add Notes</button>
<span *ngIf="notes == undefined">Loading...</span>
<ul>
  <li *ngFor="let note of notes">
    <span >{{note.title}}</span>
    <span>{{note.verse}}</span>
  </li>
</ul>

<div>
  <div *ngFor="let note of notes" class="ui card reflect-note">
    <div class="content">
      <div class="right floated meta">{{note.date * 1000 | date: 'MM/dd/yyyy'}}</div>
      <div class="header">{{note.title}}</div>
      <div class="description">
        <div>{{note.text}}</div>
      </div>
    </div>
    <div class="content">
      <span class="right floated">
        <i class="pencil alternate icon"></i>
        Edit
      </span>
      {{note.verse}}
    </div>
  </div>
</div>
